:root {
  font-size: 1.15rem;
}

/* **** devices **** */

/* phone - higher resolution (ppi) - greater font-size */
@media (min-width: 576px) { 
  :root {
    font-size: 1.8rem;
    /* color: blueviolet; */
  }
 }

/* tablets */
@media (min-width: 768px) { 
  :root {
    font-size: 1.5rem;
    /* color: chartreuse; */
  }  
 }

/* desktops */
@media (min-width: 992px) { 
  :root {
    font-size: 1.25rem;
    /* color: darkorange; */
  }  
 }

 /********************************/
/* font-size */

.x-small {
  font-size: x-small;
}

.small {
  font-size: small;
}

.medium {
  font-size: medium;
}

.large {
  font-size: large;
}

.x-large {
  font-size: x-large;
}

footer {
  font-size: 1.5rem;
}

.description {
  font-size: 0.8em; 
}
